/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-jun-2014, 17:06:18
    Author     : medussd
*/

.fondo-container{
    filter:alpha(opacity=90); opacity:0.9;
    background-color: rgb(228, 228, 228);

}
.cabecera_tabla{
    background-color: rgb(59, 52, 52) !important;
    color: white;
    cursor: pointer;
}
.cabecera_pagar{
    background-color: #EA4444 !important;
    color: white;
    
}
.cabecera_deben{
    background-color: green !important;
    color: white;
    
}
.paddingimg{
    padding: 2px !important;
}
.marginbot{
    margin-bottom: 10%;
}
.marginbotlow{
    margin-bottom: 2%;
}
.margintop{
    margin-top: 10%;
}
.margintoplow{
    margin-top: 2%;
}
.margintophigh{
    margin-top: 12%;
}
.panel-default>.panel-heading{
    background-color: #A9A9A9;
}

.panel-body{
    background-color: rgb(203, 203, 203);
}
.panel-group .panel+.panel{
    margin-top: 0px;
}
/*.panel{
    //border: none;
    background-color: transparent
}*/
h4>a{
    text-decoration: none !important;
}
.sinpadding{
    padding: 0px  !important;
}
.glyphicon{
    cursor: pointer;
}
.seleccionado{
    background-color: #dff0d8 !important;
}
.table {
    margin-bottom: 0px;
}
.panel{
    background-color: #fcf8e3;
}
.modificado{
    color: rgb(213, 138, 2) !important;
}
.nuevo{
    color: rgb(95, 197, 17) !important;
}
.deudor{
    color: red;
}
.cobrador{
    color: green;
}
.liquidado{
    color: rgb(123, 123, 123);
}
.ng-invalid{
    background-color: #F6ADAD;
}
#form{
    background-color: transparent !important;
}
.sortorder:after {
content: '\25b2';
}
.sortorder.reverse:after {
content: '\25bc';
}