/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-jun-2014, 17:06:18
    Author     : medussd
*/

/*html { 
  background: url(../fondotoy.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
@font-face {

font-family: PoplarStd;

src: url("../fuentes/poplar_std_black.woff");

}
@font-face {

font-family: Kalinga;

src: url("../fuentes/Kalinga.woff");

}
@font-face {

font-family: Impact;

src: url("../fuentes/impact.woff");

}
body {
    background-color:  #000;
}

.containerfix{
    max-width: 730px !important;
}
.destacado{
    border: 2px solid #fff;
    background-color: black;

}
.textoMA{
    font-family: Kalinga;
    font-size: 13px;
    color: rgb(187, 186, 186);
    padding: 2%;
}
.textoFamiliares{
    font-family: Kalinga;
    font-size: 13px;
    color: rgb(187, 186, 186);
    padding: 2%;
}
.textoContacto{
    font-family: Impact;
    font-size: 20px;
    color: whitesmoke;
    padding: 2%;
}
.textomayofecha{
    font-family: Impact;
    font-size: 16px;
    color: red;
    
    
}
.textomayofecha:hover{
    text-decoration: none;
    color: red;
}
.textomayocita{
    font-family: Impact;
    font-size: 16px;
    color: whitesmoke;
}
.textomayocita:hover{
    color: wheat;
    text-decoration: none;
}
.textocabma{
    font-size: 65px;
    color: red;
    font-weight: bold;
    letter-spacing: -1px;
    font-family: fantasy;
    text-shadow: 0 1px 0 #E85E5E, 0 2px 0 #BA3333, 0 3px 0 #BB2F2F, 0 4px 0 #A93333, 0 5px 0 #812929, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.textocabmaverde{
    color: #C0D00A;
    text-shadow: 0 1px 0 #5C8C40, 0 2px 0 #305C2B, 0 3px 0 #161815, 0 4px 0 #131711, 0 5px 0 #298131, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.textocabma2{
    font-size: 30px;
    color: rgb(109, 82, 82);
    font-family: PoplarStd;
}
.textocabma3{
    font-size: 22px;
/*    text-shadow: 0px -1px 0px rgb(109, 82, 82);*/
    font-family: PoplarStd;
    
}
.cabeceraMA{
    font-size: 14px;
    color: whitesmoke;    
}
.imgdestacado{
    padding: 0px;
    border: 2px solid #fff;
}
.sinpadding{
    padding: 0px  !important;
}
.imgdestacado:hover{
    -webkit-filter: grayscale(100%);
    cursor: pointer;
    box-shadow: 0 0 2px 2px #fe3;
}
.menu>li>a{
    font-family: PoplarStd;
    font-size: 25px;
    color: whitesmoke;
    padding: 0px 15px;
}
.menu>li>a:hover {
    background-color: transparent;
    color: wheat;
}
.menu2{
    margin-top: 40%;
}
.menu2>li>a{
    font-family: Kalinga;
    font-size: 14px;
    color: whitesmoke;
    padding: 0px 15px;
    border-bottom: 1px solid #666;
}
.menu2>li>a:hover {
    background-color: transparent;
    color: wheat;
}
@media (max-width: 1200px) {
    .menu2{ margin-top: 35%; }
  .menu>li>a { font-size: 23px; }
  .menu2>li>a { font-size: 13px; }
  .textoMA{ font-size: 12px; }
  .cabeceraMA{ font-size: 13px; }
/*  .textoFamiliares{ font-size: 12px; }*/
  .imgcartel{ height: 110px; }
/*  .textoContacto{ font-size: 16px; }*/
  .textomayocita{ font-size: 10px; }
  .textomayofecha{ font-size: 10px; }
  .textocabma{ font-size: 40px; }
  .textocabma2{ font-size: 25px; }
  .textocabma3{ font-size: 15px; }
  .numeros{ font-size: 16px !important; }
  .mes{ font-size: 35px !important; }
  .event { width: 10px; height: 10px; }
  .cal-cell1{ font-size: 12px !important; }
  .itemcarousel{ max-height: 500px !important; }
}

@media (max-width: 670px) {
  .menu2{ margin-top: 42%; }  
  .menu>li>a { font-size: 16px; }
  .menu2>li>a { font-size: 11px; }
  .textoMA{ font-size: 11px; }
  .cabeceraMA{ font-size: 12px; }
  .textoFamiliares{ font-size: 11px; }
  .textoContacto{ font-size: 16.1px; }
  .imgcartel{ height: 100px; }
  .videopromoma{ max-height: 250px; }
  .iconolink{ max-height: 45px; }
  .textomayocita{ font-size: 8px; }
  .textomayofecha{ font-size: 8px; }
  .textocabma{ font-size: 30px; }
  .textocabma2{ font-size: 20px; }
  .textocabma3{ font-size: 10px; }
  .numeros{ font-size: 10px !important; }
  .mes{ font-size: 30px !important; }
  .event { width: 9px; height: 9px; }
  .cal-cell1{ font-size: 10px !important; }
  .itemcarousel{ max-height: 450px !important; }
}  
@media (max-width: 500px) {
  .menu2{ margin-top: 35%; } 
  .menu>li>a { font-size: 12px; }
  .menu2>li>a { font-size: 10px; }
  .textoMA{ font-size: 7px; }
  .cabeceraMA{ font-size: 8px; }
  .textoFamiliares{ font-size: 8px; }
  .textoContacto{ font-size: 7px; }
  .imgcartel{ max-height: 90px; }
  .videopromoma{ max-height: 200px; }
  .iconolink{ max-height: 40px; }
  .textomayocita{ font-size: 7px; }
  .textomayofecha{ font-size: 7px; }
  .textocabma{ font-size: 25px; }
  .textocabma2{ font-size: 15px; }
  .textocabma3{ font-size: 8px; }
  .numeros{ font-size: 8px !important; }
  .mes{ font-size: 25px !important; }
  .event { width: 8px; height: 8px; }
  .cal-cell1{ font-size: 8px !important; }
  .itemcarousel{ max-height: 400px !important; }
}
@media (max-width: 450px) {
  .menu2{ margin-top: 40%; } 
  .menu>li>a { font-size: 10px; }
  .menu2>li>a { font-size: 7px; }
  .textoMA{ font-size: 6px; }
  .cabeceraMA{ font-size: 7px; }
  .textoFamiliares{ font-size: 7px; }
  .textoContacto{ font-size: 7px; }
  .imgcartel{ max-height: 70px; }
  .videopromoma{ max-height: 150px; }
  .iconolink{ max-height: 40px; }
  .textomayocita{ font-size: 5px; }
  .textomayofecha{ font-size: 5px; }
  .textocabma{ font-size: 20px; }
  .textocabma2{ font-size: 12px; }
  .textocabma3{ font-size: 9px; }
  .numeros{ font-size: 7px !important; }
  .mes{ font-size: 12px !important; margin: 2% 0% 0% 0% !important; }
  .event { width: 7px; height: 7px; }
  .cal-cell1{ font-size: 7px !important; }
  .itemcarousel{ max-height: 300px !important; }
}
.marginbot{
    margin-bottom: 10%;
}
.marginbotlow{
    margin-bottom: 2%;
}
.margintop{
    margin-top: 10%;
}
.margintoplow{
    margin-top: 2%;
}
.margintophigh{
    margin-top: 15%;
}
.nav-pills>li.active>a:hover{color:black; background-color:transparent}
.backcontacto{
    background: url(../img/DS.JPG) no-repeat;
    background-size: 58.33% 100%;
}
.backmayo{
    background: url(../img/cartelmalogocolaboradores2.png) no-repeat;
    background-size: 50% 100%;
}
.backinicioma{
    background: url(../img/MAInicio.png) no-repeat;
    background-size: 100% 100%;
    background-position: 100% 0%;
}
.imgcartel{
    height: 150px;
}
.linkdossier{
    color: rgb(197, 185, 60);
}
.linkdossier:hover{
    color: rgb(197, 185, 60);
}
.fondocontainer{
    background: url(../img/parte1limpia.png) no-repeat;
    background-size: 100% 100%; 
}
.fondovideosma{
    background: url(../img/parte3.png) no-repeat;
    background-size: 100% 100%; 
}
.fondovideosfotosma{
    background: url(../img/fondovideosfotosma.png) no-repeat;
    background-size: 100% 100%; 
}
.itemcarousel{
    height: 600px !important;
}
.videopromoma{
    height: 300px;
}
.videosma{
    height: 300px;
}
.selected img {
	opacity:0.5;
}
.miniimg{
    height: 80px;
}
.navlateral{
    font-size: 50px;
}
.iconolink{
    height: 50px;
}
.iconolinkizq{
    padding-left: 1.5%;
}
.logomayo{
    padding: 60% 0 0 0;
}
.fondoblanco{
    background-color: white;
}
.mes{
    font-family: PoplarStd;
    color: rgb(236, 198, 4);
    font-size: 35px;
    margin: 9% 0% 0% 0%;
}
.fondonaranja{
    background-color: rgb(209, 145, 19);
}
.fondonegro{
    background-color: #000;
}
.numeros{
    font-family: PoplarStd;
    font-size: 14px;
}
.fondocalendario{  
    background-image: url(../img/parte2toy.png);
    background-size: 100% 100%;

}