/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-jun-2014, 17:06:18
    Author     : medussd
*/

/*html { 
  background: url(../fondotoy.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
@font-face {

font-family: PoplarStd;

src: url("../fuentes/poplar_std_black.woff");

}
@font-face {

font-family: Kalinga;

src: url("../fuentes/Kalinga.woff");

}
@font-face {

font-family: Impact;

src: url("../fuentes/impact.woff");

}
body {
    background-color:  #000;
}

.containerfix{
    max-width: 730px !important;
}
.destacado{
    border: 2px solid #fff;
    background-color: black;

}
.textoMA{
    font-family: Kalinga;
    font-size: 13px;
    color: rgb(187, 186, 186);
    padding: 2%;
}
.textoFamiliares{
    font-family: Kalinga;
    font-size: 13px;
    color: rgb(187, 186, 186);
    padding: 2%;
}
.textoContacto{
    font-family: Impact;
    font-size: 18px;
    color: whitesmoke;
    padding: 2%;
}
.cabeceraMA{
    font-size: 14px;
    color: whitesmoke;    
}
.imgdestacado{
    padding: 0px;
    border: 2px solid #fff;
}
.sinpadding{
    padding: 0px  !important;
}
.imgdestacado:hover{
    -webkit-filter: grayscale(100%);
    cursor: pointer;
    box-shadow: 0 0 2px 2px #fe3;
}
.menu>li>a{
    font-family: PoplarStd;
    font-size: 25px;
    color: whitesmoke;
    padding: 0px 15px;
}
.menu>li>a:hover {
    background-color: transparent;
    color: wheat;
}
.menu2{
    margin-top: 35%;
}
.menu2>li>a{
    font-family: Kalinga;
    font-size: 14px;
    color: whitesmoke;
    padding: 0px 15px;
    border-bottom: 1px solid #666;
}
.menu2>li>a:hover {
    background-color: transparent;
    color: wheat;
}
@media (max-width: 1200px) {
    .menu2{ margin-top: 38%; }
  .menu>li>a { font-size: 23px; }
  .menu2>li>a { font-size: 13px; }
  .textoMA{ font-size: 12px; }
  .cabeceraMA{ font-size: 13px; }
/*  .textoFamiliares{ font-size: 12px; }*/
    .imgcartel{ height: 110px; }
/*  .textoContacto{ font-size: 16px; }*/
}

@media (max-width: 670px) {
  .menu2{ margin-top: 45%; }  
  .menu>li>a { font-size: 16px; }
  .menu2>li>a { font-size: 11px; }
  .textoMA{ font-size: 11px; }
  .cabeceraMA{ font-size: 12px; }
  .textoFamiliares{ font-size: 11px; }
  .textoContacto{ font-size: 16.1px; }
  .imgcartel{ height: 100px; }
  .videopromoma{ max-height: 250px; }
  .iconolink{ max-height: 45px; }
}  
@media (max-width: 500px) {
  .menu2{ margin-top: 35%; } 
  .menu>li>a { font-size: 12px; }
  .menu2>li>a { font-size: 10px; }
  .textoMA{ font-size: 7px; }
  .cabeceraMA{ font-size: 8px; }
  .textoFamiliares{ font-size: 8px; }
  .textoContacto{ font-size: 7px; }
  .imgcartel{ max-height: 90px; }
  .videopromoma{ max-height: 200px; }
  .iconolink{ max-height: 40px; }
}
@media (max-width: 450px) {
  .menu2{ margin-top: 36%; } 
  .menu>li>a { font-size: 9px; }
  .menu2>li>a { font-size: 7px; }
  .textoMA{ font-size: 6px; }
  .cabeceraMA{ font-size: 7px; }
  .textoFamiliares{ font-size: 7px; }
  .textoContacto{ font-size: 7px; }
  .imgcartel{ max-height: 70px; }
  .videopromoma{ max-height: 150px; }
  .iconolink{ max-height: 40px; }
}
.marginbot{
    margin-bottom: 10%;
}
.marginbotlow{
    margin-bottom: 2%;
}
.margintop{
    margin-top: 10%;
}
.margintoplow{
    margin-top: 2%;
}
.margintophigh{
    margin-top: 35%;
}
.nav-pills>li.active>a:hover{color:black; background-color:transparent}
.backcontacto{
    background: url(../img/DS.JPG) no-repeat;
    background-size: 50% 100%;
}
.backinicioma{
    background: url(../img/MAInicio.png) no-repeat;
    background-size: 50% 100%;
    background-position: 100% 0%;
}
.imgcartel{
    height: 150px;
}
.linkdossier{
    color: rgb(197, 185, 60);
}
.linkdossier:hover{
    color: rgb(197, 185, 60);
}
.fondocontainer{
    background: url(../img/parte1limpia.png) no-repeat;
    background-size: 100% 100%; 
}
.fondovideosma{
    background: url(../img/parte3.png) no-repeat;
    background-size: 100% 100%; 
}
.fondovideosfotosma{
    background: url(../img/fondovideosfotosma.png) no-repeat;
    background-size: 100% 100%; 
}
.itemcarousel{
    height: 600px !important;
}
.videopromoma{
    height: 300px;
}
.videosma{
    height: 300px;
}
.selected img {
	opacity:0.5;
}
.miniimg{
    height: 80px;
}
.navlateral{
    font-size: 50px;
}
.iconolink{
    height: 50px;
}
.iconolinkizq{
    padding-left: 1.5%;
}