/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-jun-2014, 17:06:18
    Author     : medussd
*/

.fondo-container{
    filter:alpha(opacity=90); opacity:0.9;
    background-color: rgb(228, 228, 228);

}
.cabecera_tabla{
    background-color: grey;
    color: white;
    cursor: pointer;
}
