/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-jun-2014, 17:06:18
    Author     : medussd
*/

.fondo-container{
    filter:alpha(opacity=90); opacity:0.9;
    background-color: rgb(228, 228, 228);

}
.cabecera_tabla{
    background-color: rgb(59, 52, 52);
    color: white;
    cursor: pointer;
}
.paddingimg{
    padding: 2px !important;
}
.marginbot{
    margin-bottom: 10%;
}
.marginbotlow{
    margin-bottom: 2%;
}
.margintop{
    margin-top: 10%;
}
.margintoplow{
    margin-top: 2%;
}
.margintophigh{
    margin-top: 12%;
}
.panel-default>.panel-heading{
    background-color: #A9A9A9;
}

.panel-body{
    background-color: rgb(255, 236, 142);
}
.panel-group .panel+.panel{
    margin-top: 0px;
}
/*.panel{
    //border: none;
    background-color: transparent
}*/
h4>a{
    text-decoration: none !important;
}
.sinpadding{
    padding: 0px  !important;
}